$primaryColor: #2c439b;
$secondaryColor: #1e2933;

html {
  font-family: generalFont;
}

.container {
  width: 1000px;
  margin: 0 auto;
  font-size: 30px;
  h1  {
    color: $primaryColor;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;

  }

  &__subtitle {
    color: $secondaryColor;
    font-size: 40px;
    text-align: center;
  }
}
