$primaryColor: #2c439b;
$secondaryColor: #1e2933;

html {
  font-family: generalFont;
}

h1  {
  color: $primaryColor;
  font-size: 30px;
}
.container{
  &__subtitle {
    color: $secondaryColor;
    height: 140px;
    //background: url("../images/webpack.png");
    display: flex;
    justify-content: center;
  }
}
