include pug/libs/_libs

doctype html
html(lang='en')
    include pug/_head
    body
        .container
            h1 Webpack template
            h2.container__subtitle Customization webpack
            +image('webpack')
            .block
            p
                | - проверяем установленную версию Node.js и пакетного менеджера npm
                |     node -v
                |     npm -v
            .footer
